---
import Divider from "./Divider.astro";
---

<footer class="w-full flex gap-4 flex-col">
  <Divider />
  <div>
    <p>
      Made with <span class="text-emerald-400">1x</span> ☕ . <span
        class="text-sky-300">TailwindCSS</span
      > . <span class="text-orange-500">Astro</span>
    </p>
    <p class="text-blue-500">
      <span class="text-neutral-600">Discord /</span> @nimixx
    </p>
  </div>
</footer>
