---

---

<header class="w-full flex justify-between items-center">
  <div class="w-8 h-8 rounded-full bg-gradient-to-r from-rose-300 to-rose-500"></div>
  <ul class="flex gap-4">
    <li><a href="https://www.youtube.com/channel/UC-8eOlOjeSFZTsQ86qG0Kzw" target="_blank" rel="noopener">Youtube →</a></li>
  </ul>
</header>
